<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <title>Admin Login</title>
      <meta name="robots" content="noindex, nofollow">
      <meta content="" name="description">
      <meta content="" name="keywords">
      <link href="{{url_for('static',filename='assets/img/favicon.png')}}" rel="icon">
      <link href="{{url_for('static',filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">
      <link href="https://fonts.gstatic.com" rel="preconnect">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      <link href="{{url_for('static',filename='assets/css/bootstrap.min.css')}}" rel="stylesheet">
      <link href="{{url_for('static',filename='assets/css/bootstrap-icons.css')}}" rel="stylesheet">
      <link href="{{url_for('static',filename='assets/css/boxicons.min.css')}}" rel="stylesheet">
      <link href="{{url_for('static',filename='assets/css/quill.snow.css')}}" rel="stylesheet">
      <link href="{{url_for('static',filename='assets/css/quill.bubble.css')}}" rel="stylesheet">
      <link href="{{url_for('static',filename='assets/css/remixicon.css')}}" rel="stylesheet">
      <link href="{{url_for('static',filename='assets/css/simple-datatables.css')}}" rel="stylesheet">
      <link href="{{url_for('static',filename='assets/css/style.css')}}" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
   </head>
   <body>
        {%block content%}

        {%endblock%}
   </body>
    <footer id="footer" class="footer">
        
     </footer>
     <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>  
       <script src="{{url_for('static',filename='assets/js/apexcharts.min.js')}}"></script>
       <script src="{{url_for('static',filename='assets/js/bootstrap.bundle.min.js')}}"></script>
       <script src="{{url_for('static',filename='assets/js/chart.min.js')}}"></script>
       <script src="{{url_for('static',filename='assets/js/echarts.min.js')}}"></script>
       <script src="{{url_for('static',filename='assets/js/quill.min.js')}}"></script>
       <script src="{{url_for('static',filename='assets/js/simple-datatables.js')}}"></script>
       <script src="{{url_for('static',filename='assets/js/tinymce.min.js')}}"></script>
       <script src="{{url_for('static',filename='assets/js/validate.js')}}"></script>
       <script src="{{url_for('static',filename='assets/js/main.js')}}"></script> 
       <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

       <!-- Initialize Swiper -->
       <script>
         var swiper = new Swiper(".mySwiper", {
         effect: "coverflow",
         grabCursor: true,
         centeredSlides: true,
         slidesPerView: "auto",
         coverflowEffect: {
            rotate: 15,
            stretch: 0,
            depth: 300,
            modifier: 1,
            slideShadows: true,
         },
         loop: true,
         });
      </script>
            
  </body>
</html>