{% extends 'base.html'%}
{% block content%}
<aside id="sidebar" class="sidebar">
   <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item"> <a class="nav-link collapsed" href="/admin-dashboard"> <i class="bi bi-grid"></i> <span>Dashboard</span> </a></li>
      <li class="nav-item">
         <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-menu-button-wide"></i><span>Data</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="components-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
            <li> <a href="/buatData" class="active"> <i class="bi bi-circle"></i><span>Buat Model</span> </a></li>
            <li> <a href="/updateData"> <i class="bi bi-circle"></i><span>Perbaharui Data Sentimen</span> </a></li>
         </ul>
      </li>
      <li class="nav-heading">Halaman</li>
      <li class="nav-item"> <a class="nav-link collapsed" href="logout"> <i class="bi bi-box-arrow-in-right"></i> <span>Keluar</span> </a></li>
   </ul>
</aside>
<main id="main" class="main">
   <div class="pagetitle">
      <h1>Buat Model</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item">Data</li>
            <li class="breadcrumb-item active">Buat Model</li>
         </ol>
      </nav>
   </div>
   
   <section class="section">
      <div class="row">
         <div class="col-lg">
            <div class="card">
               <div class="card-body">
                  <h5 class="card-title">Data</h5>
                  <form action="/buatModel" enctype="multipart/form-data" id="inputForm" method="POST">
                     <div class="row mb-3">
                        <div class="row mb-3">
                           <div class="col-12"> <label for="inputNanme4" class="form-label">Nama Tokoh</label> <input id="nama" type="text" class="form-control" name="nama" required></div>
                        </div>
                        <div class="row mb-3">
                           <div class="col-12"> <label class="form-label">Dataset</label>
                              <input id="files" name="files" class="form-control" type="file" accept=".csv" required>
                           </div>
                        </div>
                        <div class="row mb-3">
                           <div class="col-12"> <label class="form-label">Foto</label> <input id="image" name="image" class="form-control" type="file" accept=".png"required></div>
                        </div>
                     </div>
                     <div class="row mb-3">
                        <div class="col-sm-10"> <button type="submit" id="submit" class="btn btn-primary">Buat Model</button></div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </section>
   <div class="loader-modal" id="loaderModal">
      <div class="card text-center">
         <div class="card-body">
           <h5 class="card-title">Harap tunggu proses</h5>
           <div class="loader-content">
               <div class="loader"></div>
               <p>Loading...</p>
               <!-- <button class="btn btn-danger" onclick="cancelLoading()">Batal</button> -->
            </div>
         </div>
      </div>
  </div>
</main>
<script>
   function cancelLoading() {
      stopLoading();
      // Tambahkan logika untuk membatalkan proses yang sedang berjalan
  }
   // Menangkap form input saat submit
   document.getElementById("inputForm").addEventListener("submit", function(event) {

     event.preventDefault(); // Mencegah form untuk melakukan submit
     document.getElementById('loaderModal').style.display = 'block'
     // Mengirim data input ke server menggunakan fetch API
     var form = document.getElementById("inputForm");
     var formData = new FormData(form);

     var buatModel = fetch("/buatModel", {
       method: "POST",
       body: formData
     })
       .then(function(response) {
         if (response.ok) {
            Swal.fire({
            icon: 'success',
            title: 'Berhasil!',
            text: 'model berhasil dibuat.'
         });
         } else {
            Swal.fire({
            icon: 'error',
            title: 'Input Gagal!',
            text: error.message
         });
         }
         document.getElementById('loaderModal').style.display = 'none'
   });
});
 </script>
{%endblock%}