{% extends 'base.html'%}
{% block content%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<aside id="sidebar" class="sidebar">
   <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item"> <a class="nav-link " href="/admin-dashboard"> <i class="bi bi-grid"></i> <span>Dashboard</span> </a></li>
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-menu-button-wide"></i><span>Data</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a href="/buatModel"> <i class="bi bi-circle"></i><span>Buat Model</span> </a></li>
            <li> <a href="/updateData"> <i class="bi bi-circle"></i><span>Perbaharui Data Sentimen</span> </a></li>
         </ul>
      </li>
      <li class="nav-heading">Halaman</li>
      <li class="nav-item"> <a class="nav-link collapsed" href="/logout"> <i class="bi bi-box-arrow-in-right"></i> <span>Keluar</span> </a></li>
   </ul>
</aside>
<main id="main" class="main">
   <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Beranda</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
         </ol>
      </nav>
   </div>
   <section class="section dashboard">
      <div class="row">
         <div class="col">
            <div class="card">
               <div class="card-body">
                  <h5 class="card-title">Pilihan Tokoh Publik</h5>
                  <div class="mySwiper">
                     <div class="swiper-wrapper">
                     {% for x in image %}
                       <div class="swiper-slide">
                        <img src="{{x.image}}" alt="" onclick="window.location.href='{{url_for('tokohById', id=x.id)}}';">
                       </div>
                     {% endfor %} 
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <div class="card">
                     <div class="card-body">
                        <h5 class="card-title">Hasil Sentimen</h5>
                        <div id="columnChart"></div>
                           <script>document.addEventListener("DOMContentLoaded", () => {
                              new ApexCharts(document.querySelector("#columnChart"), {
                                 series: [{
                                    name: 'Positif',
                                    data: ['{{data.positif}}']
                                 }, {
                                    name: 'Netral',
                                    data: ['{{data.netral}}']
                                 }, {
                                    name: 'Negatif',
                                    data: ['{{data.negatif}}']
                                 }],
                                    chart: {
                                    type: 'bar',
                                    height: 250,
                                    stacked: true,
                                    stackType: '100%'
                                 },
                                 plotOptions: {
                                    bar: {
                                       horizontal: true,
                                    },
                                 },
                                 stroke: {
                                    width: 1,
                                    colors: ['#fff']
                                 },
                                 title: {
                                    text: '{{data.nama}}'
                                 },
                                 xaxis: {
                                    categories: ['Sentimen'],
                                 },
                                 fill: {
                                    opacity: 1
                                 
                                 },
                                 legend: {
                                    position: 'top',
                                    horizontalAlign: 'left',
                                    offsetX: 40
                                 }
                              }).render();
                              });
                           </script>
                        </div> 
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
{%endblock%}